<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HastaneSistemi</title>
  </head>
  <body>
    <h1>HastaneSistemi</h1>
    <section>
      <h2>İşlemler</h2>
      <ul>
        <li>
          <a href="/patient-information">Query patient information</a>
        </li>
        <li><a href="/medication-details">Enter medication information</a></li>
        <li><a href="">Enter surgery information</a></li>
        <li><a href="">Prescribe medication</a></li>
        <li><a href="">Book an appointment</a></li>
        <li><a href="">Schedule a surgery appointment</a></li>
      </ul>
    </section>
  </body>
</html>
